# Getting started with Python
## Printing in Python
The `print()` function prints the specified message to the screen, or other standard output device. The message can be a string, or any other object, the object will be converted into a string before written to the screen. To print a string put it between single quotes.

In [1]:
print(42)

42

In [10]:
print('Hello, World!')

Hello, World!

## Variables
Variables are containers which store the data value. You can initialise any variable and assign it with a number or string.

In [5]:
x = 3

In [12]:
y = 'Hey Bob'

And now you can use the variable in the place of values in functions and computations.

In [13]:
print(x+1)

4

In [14]:
print(y)

Hey Bob

You can also concatenate strings just like you add numbers. But you cannot add a number and a string. To do that, you can use the `str()` function on the number which will convert it to a string.

In [15]:
print(y + '. How are you doing?')

Hey Bob. How are you doing?

In [16]:
print('My age is ' + str(32))

My age is 32

## Lists and Tuples
Lists are used to store multiple items in a single variable. You can add any type of data in a list. Create a list by putting data separated by commas between square brackets.

In [30]:
mylist = [23, 'brian', 544, 'cats', 'dogs', 87]

The list is indexed from 0 to n-1. You can access any item by specifying the number is square brackets. You can also retrieve range of items with slice notation which will itself be a list. (look more into [range](https://www.w3schools.com/python/ref_func_range.asp) function and arguments it takes)

In [31]:
mylist[3]

'cats'

In [32]:
mylist[1:4]

['brian', 544, 'cats']

You can change elements of the list directly by specifying the new value to the required index, append an element with the append function and delete item with del function.

In [33]:
mylist[2] = 34
mylist

[23, 'brian', 34, 'cats', 'dogs', 87]

In [34]:
mylist.append('alan')
mylist

[23, 'brian', 34, 'cats', 'dogs', 87, 'alan']

In [36]:
del mylist[4]
mylist

[23, 'brian', 34, 'cats', 87, 'alan']

Tuples work just like list for indexing and calling, but they cannot be changed once specified. Tuples are written with round brackets. Tuples use brackets to store values.

In [82]:
mytuple = (34, 'apples', 6, 236, 'bananas')
mytuple[3]

236

## If- Else
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [37]:
p = 3
if p>2:
    print('Greater than 2')
else:
    print('Less than 2')

Greater than 2

1. To check if the variable is equal to some value use `==`.
2. You can also use boolean operators like `and`, `or`, and `not`.
3. Another handy boolean is `in`. in checks if a value is contained in the list.

In [83]:
q = 23
if q==22:
    print('q is equal to 22')
else:
    print('q is not equal to 22')
    
    
if q==22 and p>2:
    print('q is equal to 22 and p is greater than 2')
else:
    print('either q is not equal to 22 or p is not greater than 2')

    
if q==45 or not p>2:
    print('q is equal to 45 or p is less than 2 ')
else:
    print('q is not equal to 45 or p is not less than 2 ')

q is not equal to 22
either q is not equal to 22 or p is not greater than 2
q is not equal to 45 or p is not less than 2

In [85]:
if 23 in mylist:
    print('23 is contained in mylist')
else:
    print('23 is not contained in mylist')

23 is contained in mylist

## for and while loops
`for` loop is used for iterating over a sequence (like a list, tuple or even a string).

In [88]:
for i in [3,4,5,6,7]:
    print(i+4)

7
8
9
10
11

Or you can simply use the `range()` function.

In [48]:
for i in range(3,8):
    print(i+4)

while works just like for. it takes boolean as argument and iterates untill it becomes False rather that iterating over the list like for. break stops the loop immediately and continue goes directly to next iteration without computing the code below.

In [ ]:
x=4
while x<8:
    x=x+1
    print(x)

In [57]:
for i in [3,2,3,4,2,1,6,1,7,5]:
    if i<5:
        print(i)
        continue
    else:
        break

You can also work with nested loops (loop inside a loop). The "inner loop" will be executed one time for each iteration of the "outer loop"

In [55]:
x = range(5)
y = [4,6,2,6,4,5]

for i in x:
    for j in y:
        print((i,j))

## Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result and uses return keyword for the same. We use def to intitialise a function. We call the function by writing function's name and writing the arguments inside the bracket.

In [60]:
def my_function():
    print("Hello from a function")

my_function()  #no arguments for this function and doesn't return anything either

Hello from a function

In [63]:
def new_function(input_value):
    return input_value*2

new_function(4)

8

If you do not know how many arguments that will be passed into your function, add a `*` before the parameter name in the function definition.

In [66]:
def sample_function(*kids):
    print("The youngest child is " + kids[2])

sample_function("Emil", "Tobias", "Linus")

## Libraries
There are several built-in modules in Python, which you can import whenever you like. Modules contain several function which you can call by specifying which library it is from. You can also use short form of the library by using as keyword.

In [76]:
import math
import random as rnd

In [77]:
math.sqrt(2)

1.4142135623730951

In [89]:
rnd.uniform(0,1)

0.6224728706307495

We are going to use libraries like numpy and scipy but you'll have to install them first to import. Follow the references given on Read Me and get yourself comfortable with the python. Then head over to the next section where we'll learn how to use numpy.